
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-bold h3"><span data-ng-if="parentobj.projectID">{{parentobj.proDetails.pro_name}}</span> <span data-ng-if="!parentobj.projectID">My Tasks</span></h1>
</div>

<div class="row wrapper-md" data-ng-controller="dashboard">
    <div  data-ng-class="{'col-sm-6':parentobj.commentPanel,'col-sm-12':!parentobj.commentPanel}">
      <div class="panel panel-default task-holder-panel">        
        <div class="panel-body task-panel-body">

          <div class="row task-row">
            <div class="col-sm-6">            
              <button type="submit" class="btn btn-sm btn-info" data-ng-click="addTask()">Add Task</button> 
                      <button type="submit" class="btn btn-sm btn-info" data-ng-click="addTask('isSection')">Add Section</button>

            </div>
            <div class="col-sm-6 right-align">
              <a href="#">View:Incompleted Task</a>
            </div>

          </div>

          <div class="row task-top-buffer">
            <div class="col-sm-12">

               <div class="task-holder">

              <table class="task-table" id="grid">

              <tbody ui-sortable="sortableOptions" ng-model="parentobj.tasks">

              <tr class="current" data-ng-repeat="task in parentobj.tasks track by task.task_id" class="priority task-row new_tasks_group grid-row-selected in-assigned-to-me-new-task taskRow--willCollapse">
               <td class="td-reorder myHandle"><i class="glyphicon glyphicon-th"></i></td>
                <td class="td-check"><i class="icon-check"></i></td>
                <td>                           
              

              <div class="gridCell-stringContainer" data-ng-class="{'section':task.is_section}">  <input type="text" class="task-input-field" data-ng-model="task.task_name" name="taskname"  data-ng-click="viewTask(this,task,$index)" data-ng-blur="updateTaskName(task)"/>
                
                <div class="task-row-overlay grid-tags-and-date" data-ng-if="!parentobj.projectID"><a class="itemRowView-potToken potColor-background--NONE" href="#" id="luna6">{{task.pro_name}}</a><a id="centerpane_row__due_date__SPECIAL_GROUP_NEW_161749887183961"></a></div></div>
                
               </td>
               
               
            
               
               
               <td class="td-user"><i class="icon-user icon-with-dot-circle""></i></td>

              </tr>
              </tbody>
            </table>
            </div>
            </div>
          </div>

 

        </div>
      </div>

    </div>
    <div class="col-sm-6" data-ng-show="parentobj.commentPanel">
      <div class="panel panel-default task-holder-panel">        
        <div class="panel-body comments-panel-body">
          <div class="row comments-panel-header">
          
            <div class="col-xs-4">
             <div>
             <div class="row assignee-row" data-ng-class="{'assignee-row-visible':assigneeOrgusersBoxStatus,'assignee-row-hover':!assigneeOrgusersBoxStatus,'unassigned-row':!parentobj.selectedAssignee}" ng-Mouseover="showDelete=true" ng-mouseleave="showDelete=false">
               <div class="col-xs-3 assignee-col">
                        <span data-ng-show="!parentobj.selectedAssignee" data-ng-click="enableOrgUsersBox()"><i class="icon-user icon-with-dot-circle" ></i> </span>
                            <a class="thumb-sm avatar thumb-assignee" data-ng-show="parentobj.selectedAssignee" data-ng-click="enableOrgUsersBox()">
                                    <img   data-ng-src="img/thumb/{{parentobj.selectedAssignee.user_id}}.jpg">
                                </a>
               </div>
               <div class="col-xs-9 nopadding assignee-search-col">
               <div class="name-of-assignee"  data-ng-show="!assigneeOrgusersBoxStatus"><div data-ng-click="enableOrgUsersBox()">{{parentobj.selectedAssignee?parentobj.selectedAssignee.firstname:'Unassigned'}}</div>
               <span class="delete-assignee" data-ng-show="showDelete && parentobj.selectedAssignee" data-ng-click="unassignee()"><i class="glyphicon glyphicon-remove-circle remove-icon"></i></span>
               </div>

                <input type="text" ng-model="searchAssignee" class="form-control no-border field-no-padding" placeholder="{{parentobj.selectedAssignee?parentobj.selectedAssignee.firstname:'Search user...'}}" data-ng-click="enableOrgUsersBox()" data-ng-show="assigneeOrgusersBoxStatus"/>

                </div>
               </div>
               
                    <div class="assignee-orgusers-box" data-ng-show="org_users_filtered.length>0 && assigneeOrgusersBoxStatus">
                        <div class="assignee-result-holder">
                        <div class="assignee-result-row" data-ng-repeat="assignee in org_users_filtered=(org_users|filter:{firstname:searchAssignee})" data-ng-click="assignTo(assignee)">
                            <div class="row">
                                <div class="col-xs-3 assignee-result-thumb">
                                    <a class="thumb-sm avatar thumb-sm-comment">
                                    <img   data-ng-src="img/thumb/{{assignee.user_id}}.jpg">
                                </a>
                                </div>
                                <div class="col-xs-9">
                                    <div class="assignee-name">{{assignee.firstname}}</div>
                                    <div class="assignee-email">{{assignee.email}}</div>
                                </div>                            
                            </div>
                        </div>

                        </div>
                    </div>
             </div>
             
            </div>  
            <div class="col-xs-4">     
            
            <div class="row assignee-row unassigned-row" data-ng-class="{'assignee-row-visible':opened,'assignee-row-hover':!opened}" ng-Mouseover="showDueDateDelete=true" ng-mouseleave="showDueDateDelete=false">
                    <div class="col-xs-3 assignee-col">    <i class="icon-calendar icon-with-dot-circle" ng-click="open($event)"></i> </div>
                    <div class="col-xs-9 nopadding assignee-search-col dueDatePicker">
                       <span class="delete-dueDate" data-ng-click="removeDueDate()" data-ng-show="showDueDateDelete && dueDate"><i class="glyphicon glyphicon-remove-circle remove-icon"></i></span>
                            <input type="text" class="form-control no-border" datepicker-popup="{{format}}" ng-model="dueDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  ng-click="open($event)" placeholder="Due Date" />

                      

                    </div>
            </div>

                   
        
            
            </div>
            <div class="col-xs-4 panel-header-icons-row">
             <span class="sub-task"><i class="glyphicon glyphicon-tasks"></i></span>
             
      <span class="attachment"><i class="glyphicon glyphicon-paperclip"></i>
      <button ngf-select="uploadFiles($files, $invalidFiles)" multiple class="hidden-browser-button" data-ng-disabled="isUploadInProgress"></button> 
      </span>
      

            <i class="glyphicon glyphicon-remove comment-close-icon" data-ng-click="closeConversationPanel()"></i>

            </div>  
          </div>
          <div class="row">
        <div class="col-md-12 task-conv-holder">                              

          
          <div class="row comments-top-buffer">
              <div class="col-sm-12">

                <span class="comments-project-name">{{task.pro_name}}</span>
                <span data-ng-if="task.section_id!=null">{{task.section_name}}</span>
              </div>

            
          </div>

          <div class="row comments-top-buffer">
              <div class="col-sm-12">                
                <div class="row">
                  <div class="col-xs-2 comment-icon-column">
                    <i class="icon-check comment-icon-check"></i>
                  </div>
                  <div class="col-xs-10 column-comment">
                    <div class="form-group">
                    <textarea class="msd-elastic form-control comment-panel-txtarea autogrow-textarea" data-ng-model="task.task_name" data-ng-keyup="syncToTaskPanel()" data-ng-blur="updateTaskName(task)" rows="1"></textarea>
                    </div>
                    <div class="form-group">
                    <textarea class="msd-elastic form-control comment-panel-txtarea-description autogrow-textarea" rows="1" placeholder="Description" data-ng-model="task.task_description" data-ng-blur="updateTaskDescription(task)"></textarea>
                    </div>
                  </div>
                </div>
              </div>
          </div>
                  
              <div class="col-sm-12 attach" data-ng-hide="attachments.length==0 && !files">

                  <div ng-repeat="attach in attachments">
                    <i class="glyphicon glyphicon-paperclip"></i> <span ng-Mouseover="attach.delete_attach=true"  ng-mouseleave="attach.delete_attach=false"> <a ng-href="{{serviceUrl}}download?assert_id={{attach.attach_id}}&token={{parentobj.token}}"  target="_blank">{{attach.original_name}}</a> <span class="delete_attach" data-ng-show="attach.delete_attach && attach.attach_id" data-ng-click="removeAttach(attach,'attachments')"><i class="glyphicon glyphicon-remove-circle remove-icon"></i></span> </span>

                  </div>

                  <div ng-repeat="f in files">
                    <i class="glyphicon glyphicon-paperclip"></i> <span ng-Mouseover="attach.delete_attach=true"  ng-mouseleave="attach.delete_attach=false"><a ng-href="{{serviceUrl}}/download?assert_id={{f.attach_id}}&token={{parentobj.token}}">{{f.name}}</a><span class="delete_attach" data-ng-show="attach.delete_attach&& f.attach_id" data-ng-click="removeAttach(f,'files')"><i class="glyphicon glyphicon-remove-circle remove-icon"></i></span>
                    <div data-ng-hide="f.progress==100">
                      <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%"  
                            ng-bind="f.progress + '%'"></div>
                      </span>
                    </div>
                  </div>

              </div>
              

        <div class="row thread-row" data-ng-repeat="conv in coversation track by $index">
              <div class="col-xs-2 thread-icon-column"> 
                                   <a class="thumb-sm avatar thumb-sm-comment">
                    <img src="img/a2.jpg" alt="...">
                    </a>
              </div>
              <div class="col-xs-10"  ng-bind-html="trustAsHtml(conv.text)">
                  
              </div>
        </div>

        </div>
        </div>  

      

       <div class="row">
              <div class="col-sm-12"> 

                <div class="row">
                    <div class="col-xs-2 comment-icon-column">
                    <a class="thumb-sm avatar thumb-sm-comment">
                    <img src="img/a2.jpg" alt="...">
                    </a>
                    </div>
                    <div class="col-xs-10 column-comment">


                              <div class="comment-editor-box">
                                <div ui-jq="wysiwyg" class="comment-editor conv-editor">                          
                              </div>  

                              <div class="right-align"><button type="submit" class="btn btn-sm btn-info" data-ng-click="postConv()">Comment</button></div>

                              </div>
                    </div>
                </div>
              </div>

          </div>




           <div class="row followers-row top-buffer comments-top-buffer">
              <div class="col-sm-12"> 
                
                <table class="table followers-table">
                <tbody>
                  <tr>
                    <td>Followres</td>
                    <td style="width:70%">
                    <div data-ng-show="!followersbox">   
                    <a class="thumb-sm avatar thumb-sm-comment" data-ng-repeat="follow in data.followers">
                    <img src="img/a2.jpg" alt="...">
                    </a> 

                    <span class="follower-plus" data-ng-click="addFollowers()"><i class="icon-plus add-follows"></i></span>
                    </div>                    
                    <div data-ng-show="followersbox" class="followersbox">
                    <select chosen multiple options="org_users"
                    ng-model="data.followers" ng-options="user.user_id as user.firstname for user in org_users">
                    </select>
                    </div>
                    </td>
                    <td style="vertical-align: middle;">
                    <i class="fa fa-bell"></i> <a href="javascript:void(0)" data-ng-click="unfollowTask()" data-ng-show="userFollowStatus">Following</a> <a href="javascript:void(0)" data-ng-click="followTask()" data-ng-show="!userFollowStatus">Follow task</a>
                    </td>
                  </tr>
                  </tbody>
                </table>

    

              </div>
            </div>
           


        </div>
      </div>
    </div>
  </div>