<!-- list -->


<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Reports</span>
  </li>
  <li data-ng-repeat="snav in parentobj.sidenav track by $index" data-ng-class="{'active':parentobj.currentTeamId==snav.team.team_id}" data-ng-click="setTeamValue(snav)">
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-normal">{{snav.team.team_name}}</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>{{snav.team.team_name}}</span>
        </a>
      </li>
      <li><div class="new-project-row"><span class="new-project-text">PROJECTS</span> <div class="new-project-icon-column"><i class="icon-plus add-follows" data-ng-click="newProPopup(snav.team)"></i></div></div></li>
      <li  data-ng-repeat="snavpro in snav.team.projects" data-ng-class="{'active':parentobj.currentProjectID==snavpro.pro_id}" on-finish-render>
        <a ui-sref="app.dashboard" data-ng-click="getTasks(snavpro)" data-ng-class="{'current-project':parentobj.currentProjectID==snavpro.pro_id}">
          <span>{{snavpro.pro_name}}</span>
        </a>
      </li>
    </ul>
  </li>

</ul>
<!-- / list -->

