@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('proxima-nova-Light'), url('../fonts/sourcesanspro/proxima-nova-light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('proxima-nova-Regular'), url('../fonts/sourcesanspro/proxima-nova.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('proxima-nova-Bold'), url('../fonts/sourcesanspro/proxima-nova-bold.woff') format('woff');
}